            <!-- Page content wrapper-->
            <div id="page-content-wrapper" class="bg-light">
                
               <!-- Top navigation-->
               <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
                 <div class="container-fluid">
                     <!-- <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button> -->
                     <img  class="ms-md-3" src="/images/fi_menu.png"  id="sidebarToggle" alt="">
                     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                     <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        
                         <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                             <li class="nav-item">
                               <!-- <form action="/car/filter" method="get"> -->
                                  <form action="/car/filter?name=">
                                 <div class="input-group mt-2">
                                    
                                     <input type="search" name="name" class="form-control rounded img-search" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                                     <button type="submit"  class="btn btn-outline-primary" style="width: 5rem;">search</button>
                                     
                                   </div>

                                  </form>
                             </li>
                             <li class="nav-item dropdown me-2 ms-3">
                                 <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                     <img src="/images/Group 15.png" alt="">
                                     Unis Badri</a>
                                 <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                     <a class="dropdown-item" href="#!">Action</a>
                                     <a class="dropdown-item" href="#!">Another action</a>
                                     <div class="dropdown-divider"></div>
                                     <a class="dropdown-item" href="#!">Something else here</a>
                                 </div>
                             </li>
                         </ul>
                     </div>
                 </div>
             </nav>
