<body>
   <div class="d-flex flex-row bg-primary" id="wrapper" >
       <!-- Sidebar-->
       <div class="col" id="sidebar-wrapper">
           <div class="sidebar-heading"> <img src="/images/Rectangle 63.png" alt=""></div>
           <div id="atribut">
               <div class="home">
                   <img src="/images/fi_home.png" class="ms-4" alt="">
                   <a href="#">Dashboard</a>
               </div>

               <div class="home mt-4" id="coba"> 
                   <img src="/images/fi_truck.png" class="ms-4" alt="">
                   <a href="#" class="ms-4" onclick="openNav()">Cars</a>
               </div>
           </div>
       </div>
       <div class="col-2 p-3 bg-white" id="sidebar-wrapper">
         <img src="/images/Rectangle 62.png" class="ms-2" alt="">

         <div id="coba2" class="sidebar-cars row">
           <a class="sidebar-head mt-5">CARS</a> 
           <div class="btn-sidebar-car">
             <a href="/car">List Car</a>
           </div>
         </div>
       </div>